[core]
  pager = delta 
[user]
	name = Maximiliano Guzenski
	email = maxguzenski@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[include]
  path = ~/.config/delta/catppuccin.gitconfig
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  features = catppuccin-macchiato
  line-numbers = false
  hyperlinks = true
  side-by-side = false
[diff]
	tool = nvimdiff
