.DS_Store
lazyvim/.config/nvim/lazy-lock.json
lazyvim/.config/nvim/lazyvim.json
zed/.config/zed/prompts/
zed/.config/zed/embeddings/
backgrounds/sexy*.*
hypr/.config/hypr/shaders

yazi/.config/yazi/package.yml
yazi/.config/yazi/plugins/**
