@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
}

#waybar {
  background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  margin: 2px 0px 0px 0px;
  /* padding: 0px; */
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
  padding-left: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-omarchy {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  background-color: @background;
  background-color: rgba(0, 0, 0, 1);
  padding: 2px;
  border-radius: 6px;
}
